body { background-color: rgb(49, 166, 43);text-align: center;
  font-family: Lato, sans-serif; font-weight: lighter;}
.content {text-align: center;font-family: Lato, sans-serif; font-weight: lighter;
margin: 10%;}
.imgWrapper {width: 20%; height: 20%;position:relative}
img {position: absolute; width: 20%; height: 40%}
